<!DOCTYPE html>
<html>
  <head>
    <title>Result</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"/>
  </head>
  <body>
    <div class="testbox1">
      <form action="/predict" method="POST" target="_blank">
        <div class="banner">
          <h1>Prediction Result</h1>
        </div>
        <h2 style="text-align: center;"> Given the information on the form, the service we recommend is : </h2>

        <div class="prediction_res">

          <div class="thumbnail">
            {% if prediction [0]== 0 %}
            <h3>IP Transit</h3>
            <div class = "More about the service">
              <h2 style="text-align: center;" class= "recom">You Are Doing Great!</h2>
              <h2 style="text-align: center;" class= "recom">Keep Up!</h2>
            </div>
            {% endif %}
          </div>

          <div class="thumbnail">
            {% if prediction [1]== 1 %}
            <h3>IP Transit IIX</h3>
            <div class = "More about the service">
              <h2 style="text-align: center;" class= "recom">You Are Doing Great!</h2>
              <h2 style="text-align: center;" class= "recom">Keep Up!</h2>
            </div>
            {% endif %}
          </div>

          <div class="thumbnail">
            {% if prediction [2]== 2 %}
            <h3>IP VPN</h3>
            <div class = "More about the service">
              <h2 style="text-align: center;" class= "recom">You Are Doing Great!</h2>
              <h2 style="text-align: center;" class= "recom">Keep Up!</h2>
            </div>
            {% endif %}
          </div>

          <div class="thumbnail">
            {% if prediction [3]== 3 %}
            <h3>Internet Broadband Corporate</h3>
            <div class = "More about the service">
              <h2 style="text-align: center;" class= "recom">You Are Doing Great!</h2>
              <h2 style="text-align: center;" class= "recom">Keep Up!</h2>
            </div>
            {% endif %}
          </div>

          <div class="thumbnail">
            {% if prediction [4]== 4 %}
            <h3>Internet Corporate</h3>
            <div class = "More about the service">
              <h2 style="text-align: center;" class= "recom">You Are Doing Great!</h2>
              <h2 style="text-align: center;" class= "recom">Keep Up!</h2>
            </div>
            {% endif %}
          </div>

          <div class="thumbnail">
            {% if prediction [5]== 5 %}
            <h3>Metronet</h3>
            <div class = "More about the service">
              <h2 style="text-align: center;" class= "recom">You Are Doing Great!</h2>
              <h2 style="text-align: center;" class= "recom">Keep Up!</h2>
            </div>
            {% endif %}
          </div>

        </div>
      </form>
    </div>
    
  </body>
</html>